name: Continuous Integration - PR
on:
  pull_request:

jobs:
  test-app:
    name: Test Application
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.21
      - name: Test application
        run: go test ./...
      - name: Dry-run goreleaser application
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: release --snapshot --skip=publish --clean
      - name: Create temporary download for this PR for 1d
        uses: actions/upload-artifact@v6
        with:
          name: downloads
          path: dist/
          if-no-files-found: error
          retention-days: 1
